.main-window {
}

.padd-item {
  margin-top: 1px;
  margin-bottom: 1px;
}

.drag-indicator-top {
  border-top: 1px solid @highlight_color;
  margin-bottom: 1px;
}

.drag-indicator-bottom {
  border-bottom: 1px solid @highlight_color;
  margin-top: 1px;
}

.destructive-button-spacer {
  margin-left: 15px;
}

.queue {
  border-top: 1px solid LightGray; /* TODO change for dark theme */
}

.queue-default-cover {
  border-radius: 3px;
  border-top: 1px solid LightGray; /* TODO change for dark theme */
  border-right: 1px solid LightGray; /* TODO change for dark theme */
  border-bottom: 1px solid LightGray; /* TODO change for dark theme */
  border-left: 1px solid LightGray; /* TODO change for dark theme */
      background-image:
        linear-gradient(
            170deg,
            alpha(
                @highlight_color,
                0.1
            ),
            alpha(
                @highlight_color,
                0.15
            ) 43%,
            alpha(
                @highlight_color,
                0
            ) 44%
        ),
        -gtk-icontheme("audio-x-generic-symbolic"),
        linear-gradient(
            to bottom,
            @base_color,
            @base_color
        );
}

.queue-song {
  border-radius: 8px;
  padding: 4px;
  margin-left: 5px;
  margin-right: 5px;
}

.play-control {
  margin: 3px;
}

.play-control-previous {
  min-height: 32px;
  min-width: 32px;
}

.play-control-play-pause {
  margin: 0px  20px;
  min-height: 32px;
  min-width: 32px;
}

.play-control-next {
  min-height: 32px;
  min-width: 32px;
}

.seekbar {
  min-width: 200px;
  margin: 0px 20px;
}

.seekbar-current {
  
}

.seekbar-scale {
  margin: 0px 7px;
}

.seekbar-total {
  
}

.play-info {
  margin: 4px;
  min-width: 350px;
}

.play-info-cover {
  border-radius: 3px;
  border-top: 1px solid LightGray;  /* TODO change for dark theme */
  border-right: 1px solid LightGray;  /* TODO change for dark theme */
  border-bottom: 1px solid LightGray;  /* TODO change for dark theme */
  border-left: 1px solid LightGray;  /* TODO change for dark theme */
  min-width: 96px;
  min-height: 96px;
}

.play-info-info {
  margin: 9px;
}

.window-titlebar {
  min-height: 35px;
  margin: 0px 5px;
}

.main-box {
  
}

.main-paned {
  
}
.main-paned.wide {
  min-width: 10px;
}

.browser {
  padding: 5px;
  border-top: 1px solid LightGray; /* TODO change for dark theme */
}

.pathbar {
  
}

.pathbar-space {
  min-width: 30px;
}

.browser-content {
  
}
