.padd-item {
  margin-top: 1px;
  margin-bottom: 1px;
}

.drag-indicator-top {
  border-top: 1px solid Gray;
  margin-bottom: 1px;
}

.drag-indicator-bottom {
  border-bottom: 1px solid Gray;
  margin-top: 1px;
}

.destructive-button-spacer {
  margin-left: 15px;
}

.queue-default-cover {
  border-radius: 3px;
  border-top: 1px solid LightGray;
  border-right: 1px solid LightGray;
  border-bottom: 1px solid LightGray;
  border-left: 1px solid LightGray;
}

.queue-song {
  border-radius: 8px;
  padding: 4px;
  margin-left: 5px;
  margin-right: 5px;
}
