contents > box {
  margin: 15px;
}

.entry-error {
  color: red;
}

.window-titlebar {
  min-height: 35px;
  margin: 0px 5px;
}

.main-window {
}

.main-box {
}

.main-paned {
}

.padd-item {
  margin-top: 1px;
  margin-bottom: 1px;
}

.drag-indicator-top {
  border-top: 1px solid @accent_color_100;
  margin-bottom: 1px;
}

.drag-indicator-bottom {
  border-bottom: 1px solid @accent_color_100;
  margin-top: 1px;
}

.login-form {
  margin: 15px;
  min-width: 350px;
}

.browser-navigation-button {
    min-height: 24px;
    min-width: 24px;
}

.equalizer {
   margin: 15px;
}

.equalizer-bands {
  min-height: 300px;
}

.config-menu {
  margin: 15px;
}

.destructive-button-spacer {
  margin-left: 15px;
}

.queue {
}

.queue-song {
  border-radius: 8px;
  padding: 4px;
  margin-left: 5px;
  margin-right: 5px;
}

.queue-song-state {
  border-radius: 4px;
  border-top: 1px solid Gray;
  border-bottom: 1px solid Gray;
  border-left: 1px solid Gray;
  border-right: 1px solid Gray;
}

.play-control {
  margin: 3px;
}

.play-control-previous {
  min-height: 32px;
  min-width: 32px;
}

.play-control-play-pause {
  min-height: 32px;
  min-width: 32px;
}

.play-control-next {
  min-height: 32px;
  min-width: 32px;
}

.seekbar {
  min-width: 200px;
  margin: 0px 20px;
}

.seekbar-current {
}

.seekbar-scale {
  margin: 0px 7px;
}

.seekbar-total {
}

.size32 {
  min-width: 32px;
  min-height: 32px;
}

.size50 {
  min-width: 50px;
  min-height: 50px;
}

.size150 {
  min-width: 150px;
  min-height: 150px;
}

.size100 {
  min-width: 100px;
  min-height: 100px;
}

.cover {
  border-radius: 3px;
  border-top: 1px solid LightGray;  /* TODO change for dark theme */
  border-right: 1px solid LightGray;  /* TODO change for dark theme */
  border-bottom: 1px solid LightGray;  /* TODO change for dark theme */
  border-left: 1px solid LightGray;  /* TODO change for dark theme */
  background-image: linear-gradient(
    170deg,
    alpha(@highlight_color, 0.1),
    alpha(@highlight_color, 0.15) 43%,
    alpha(@highlight_color, 0) 44%
    ),
    -gtk-icontheme("audio-x-generic-symbolic"),
    linear-gradient(to bottom, @base_color, @base_color
    );
}

.descriptive-cover {
  margin: 5px;
}

.play-info {
  margin: 4px;
  min-width: 350px;
}

.play-info-info {
}

.play-info-cover {
}

.browser {
}

.browser-content {
  margin-top: 15px;
}

.artist-view {
}

.artist-view-info {
  margin: 5px;
  margin-bottom: 15px;
}

.album-view {
}

.album-view-info {
  margin: 5px;
  margin-bottom: 15px;
}

.album-tracks {
}

.album-tracks-header {
  margin: 0px 4px;
}

.album-tracks-song {
  border-radius: 8px;
  margin: 1px 4px;
  padding: 5px 0px;
}

.album-element {
}

.artist-element {
}

.playlist-view-playlist-list {
  min-width: 250px;
}

.playlist-element {
  border-radius: 8px;
  margin: 5px;
  padding: 5px 7px;
}

.playlist-view-add-playlist {
  padding: 7px;
}

.playlist-view-tracks-row > listview > row {
  border-radius: 8px;
  margin: 1px 0px;
  padding: 5px 7px;
}

.playlist-view-info {
  margin: 5px;
}
